/* ************ GENERAL ************ */

/* Estilos generales para el cuerpo de la página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Estilos para el elemento de selección (dropdown) */
select {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para el contenedor div */
div {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
}

/* Estilos para las secciones */
section {
    margin-bottom: 20px;
}

/* Estilos para los encabezados de sección */
h2 {
    color: #0066cc;
    margin-bottom: 10px;
}

/* Estilos para el artículo (elemento de lista) */
article {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #f8f8ff;
    display: flex; /* Establecer una disposición en fila */
    align-items: center; /* Centra verticalmente el contenido del artículo */
}

/* Estilos para los elementos botón */
button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave */
}

/* Estilos al pasar el ratón sobre el botón */
button:hover {
    background-color: #2980b9;
}


/* ************ TABLA ************ */

/* Estilos de la tabla */
table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
}

/* Estilos para celdas de encabezado y celdas de datos en la tabla */
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* Fondo alternado para filas pares en la tabla */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilos al pasar el ratón sobre filas en la tabla */
tr:hover {
    background-color: #ddd;
}


/* ************ LISTA************  */

/* Estilos para la clase elemento (artículos) */
.elemento {
    cursor: pointer;
}

/* Estilos para las imágenes en la lista */
.imgLista {
    max-width: 400px;
    max-height: 200px;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 20px;
}


/* ************ ZODIACO ************ */

/* Estilos para las imágenes del Zodiaco */
.imgZodiaco {
    max-width: 512px;
    max-height: 512px;
    padding-left: 20px;
}

/* ************ INDEX************  */

.h1Index {
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #8e44ad; 
}

.bodyIndex {
    background-image: url("../images/fondo.gif");
    background-position: center;
    background-size: cover;
}

/* Estilos para el formulario en la página de índice */
form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

/* Estilos para los campos de entrada en el formulario */
input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos para el botón de envío en el formulario */
input[type="submit"] {
    background-color: #8e44ad;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave */
}

/* Estilos al pasar el ratón sobre el botón de envío en el formulario */
input[type="submit"]:hover {
    background-color: #6c3483; 
}

/* Estilos para los enlaces */
.aIndex {
    color: #FFC0CB;
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
    font-weight: bold; 
    transition: color 0.3s ease; 
}

/* Estilos al pasar el ratón sobre los enlaces */
.aIndex:hover {
    color: #1d6fa5;
    background-color: #FFC0CB; 
}
